* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}
::-webkit-scrollbar {
  width: 15px;
}
.left_sidebar::-webkit-scrollbar,
.center_sidebar::-webkit-scrollbar,
.right_sidebar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: rgb(205, 205, 205);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 69);
}

/* //////////// body end ///////////////////////// */

/* //////////// navbar start ///////////////////////// */

.navbar_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  width: 100%;
  background-color: white;
}

.Center_nav ul li {
  list-style-type: none;
  display: inline;
  position: relative;
}
.Center_nav ul li a {
  color: black;
}
.Center_nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav ul li a img {
  width: 35px;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #045be6;
  position: absolute;
  bottom: -10px;
  transition: width 0.3s;
}
nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}
.logo {
  width: 40px;
}
.humberger {
  display: none;
}
nav .left_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search_bar {
  background-color: #f3f3f3;
  border-radius: 20px;
  display: flex;
  padding: 5px 10px;
  gap: 10px;
  width: 200px;
}
.search_bar input {
  outline: none;
}
.search_bar img {
  width: 15px;
}
.search_bar input {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.Center_nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.right_nav .online {
  position: relative;
  cursor: pointer;
}
.right_nav .online::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.user_profile {
  width: 40px;
  border-radius: 50%;
}

.profile_dropdown {
  background-color: black;
  color: white;
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 80px;
  width: 25%;
  display: none;
}
#toggle2:checked ~ .profile_dropdown {
  display: block;
}
.profile_div {
  display: flex;
  gap: 20px;
}
.profile_div > div a {
  text-decoration: none;
  color: white;
}
.profile_dropdown span {
  height: 1px;
  background-color: #979797;
  width: 100%;
  display: block;
  margin: 20px 0px;
}
.profile_div img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.other_intraction {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.intraction_menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.intraction_menu div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.intraction_menu div img {
  width: 30px;
  height: 30px;
}
.intraction_menu img {
  width: 20px;
  height: 20px;
}

/* //////////// main body container ///////////////////////// */

.container {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* //////////// left sidebar ///////////////////////// */

.left_sidebar {
  flex-basis: 25%;
  background-color: white;
  height: 90vh;
  overflow-y: scroll;
}
.center_sidebar {
  flex-basis: 47%;
  height: 90vh;
  overflow-y: scroll;
}
.right_sidebar {
  flex-basis: 25%;
  height: 90vh;
  overflow-y: scroll;
}
.intro {
  padding: 10px 20px;
}
.intro > img {
  width: 80px;
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 10px;
}
.intro h2 {
  margin-bottom: 10px;
}
.profile_summary {
  margin-top: 20px;
}
.profile_summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile_button_group {
  display: flex;
  gap: 10px;
  border-top: 5px solid #f3f3f3;
}
.profile_buttons {
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.profile_buttons:nth-child(1) {
  border-right: 5px solid #f3f3f3;
}
.profile_buttons img {
  width: 25px;
}
.recent {
  padding: 20px;
  border-top: 20px solid #f3f3f3;
}
.recent h2 {
  margin-bottom: 10px;
}
.recent_items div img {
  width: 25px;
}
.recent_items div {
  display: flex;
  justify-content: start;
  gap: 10px;
}
/* //////////// Center sidebar ///////////////////////// */

.write_post {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.write_post img {
  width: 40px;
  border-radius: 50%;
}
.action_buttons {
  display: flex;
  justify-content: space-between;
}
.actions {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-right: 5px solid #f3f3f3;
  display: flex;
  align-items: center;
  gap: 10px;
}
.actions img {
  width: 20px;
}
.action_buttons .post_button {
  background-color: #045be6;
  color: white;
  padding: 10px 15px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.action_buttons .post_button:hover {
  background-color: blue;
}
.sort_by {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}
.sort_by span {
  height: 1.5px;
  background-color: rgb(193, 193, 193);
  width: 75%;
  display: inline-block;
}
.sort_by img {
  cursor: pointer;
  width: 15px;
}

.post_feed {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}
.profile_short_bio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile_short_bio img {
  width: 50px;
  border-radius: 50%;
}
.other_detail {
  margin-top: 20px;
}
.other_detail > p {
  margin-bottom: 20px;
}
.other_detail img {
  width: 100%;
}
.other_detail .reaction {
  display: flex;
  align-items: center;
}
.other_reaction {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.other_detail .reaction p {
  margin-left: 10px;
}
.other_detail .reaction img {
  width: 15px;
  margin-right: -5px;
}
.comment_share {
  display: flex;
  gap: 10px;
}
.rest_reaction {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-top: 1px solid rgb(174, 174, 174);
  padding-top: 20px;
}
.rest_reaction li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rest_reaction li img {
  width: 20px;
}
.rest_reaction > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rest_reaction > div img:nth-child(1) {
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.rest_reaction > div img:nth-child(2) {
  width: 15px;
}

/* //////////// Right sidebar ///////////////////////// */

.trending_news {
  background-color: white;
  padding: 20px;
}
.trending_news .news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.trending_news .news img {
  width: 20px;
  height: 20px;
}
.latest_reader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.latest_reader p {
  margin-top: 5px;
}
.read_more {
  color: #045be6;
  font-weight: bolder;
}
.advertisment {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}
.advertisment .add {
  text-align: right;
  margin-bottom: 20px;
}
.advertisment p {
  margin: 20px 0px;
  text-align: center;
}
.advertisment button {
  background-color: #045be6;
  padding: 10px 30px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  display: block;
  margin: 0 auto;
}
.advertisment button:hover {
  background-color: #0348b7;
}
.master_design {
  display: flex;
  justify-content: space-evenly;
}
.master_design img {
  width: 60px;
  border-radius: 50%;
}
.footer_link {
  text-align: center;
  margin-top: 20px;
}
.footer_link a {
  color: black;
  line-height: 25px;
  text-align: center;
}

/* ///// profile page //////////////// */

.Profile_container {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile_left_sidebar {
  flex-basis: 69%;
  height: 90vh;
  overflow-y: scroll;
}
.profile_right_sidebar .advertisment {
  margin-top: 0px;
}
.profile_right_sidebar {
  height: 90vh;
  flex-basis: 29%;
  overflow-y: scroll;
}
.profile_left_sidebar::-webkit-scrollbar,
.profile_right_sidebar::-webkit-scrollbar {
  display: none;
}
.profile_pics {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.profile_pics img {
  border-radius: 50%;
  width: 40px;
}
.profile_page_buttons {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.profile_page_buttons button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  gap: 10px;
  cursor: pointer;
}
.profile_page_buttons button img {
  width: 20px;
}
.profile_page_buttons button:nth-child(1) {
  background-color: blue;
  color: white;
}
.profile_page_buttons button:nth-child(1):hover {
  background-color: darkblue;
}

.profile_page_buttons button:nth-child(2) {
  background-color: #f3f3f3;
  color: black;
}
.profile_page_buttons button:nth-child(2):hover {
  background-color: #d6d6d6;
}
.people_know {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}
.people_know > div {
  display: flex;
  gap: 10px;
}
.people_know > div img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.people_know > div > div > h2 {
  margin-bottom: 10px;
}
.people_know > div > div button {
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.people_know > div > div button:hover {
  background-color: #0348b7;
  color: white;
}
.about {
  border-top: 20px solid #f3f3f3;
  padding: 20px;
  background-color: white;
}
.about h2 {
  margin-bottom: 20px;
}
.about div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about div p {
  align-self: flex-end;
}
.education {
  border-top: 20px solid #f3f3f3;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.education > div img {
  width: 50px;
  height: 50px;
}
.education > h2 {
  margin-bottom: 20px;
}
.education > div {
  display: flex;
  gap: 10px;
}
.education > div h2 {
  margin-bottom: 10px;
}
.education .northern_university > div {
  padding: 10px 0px;
}
.education .northern_university > div {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  width: 100%;
}
.skill {
  padding: 20px;
  background-color: white;
  border-top: 20px solid #f3f3f3;
}
.skill h2 {
  margin-bottom: 20px;
}
.skill > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.skill > div button {
  background-color: transparent;
  border: 1px solid #444;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}
.skill > div button:hover {
  background-color: #979797;
}
.language {
  padding: 20px;
  background-color: white;
  border-top: 20px solid #f3f3f3;
}
.language h2 {
  margin-bottom: 20px;
}
.language > div {
  display: flex;
  gap: 10px;
}
.language > div button {
  background-color: #0348b7;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
}
.branded_footer {
  background-color: white;
  padding: 20px;
  border-top: 20px solid #f3f3f3;
  flex-basis: 100%;
}
.copyright {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.copyright img {
  width: 40px;
  height: 40px;
}

/* /////////// media queries  /////////// */

@media screen and (max-width: 968px) {
  .container {
    gap: 5px;
  }
  .left_sidebar {
    order: 1;
    flex-basis: 29%;
    background-color: white;
    height: auto;
  }
  .center_sidebar {
    order: 3;
    flex-basis: 100%;
    height: auto;
  }

  .right_sidebar {
    order: 2;
    flex-basis: 69%;
    height: auto;
  }
  .profile_left_sidebar,
  .profile_right_sidebar {
    flex-basis: 100%;
    height: auto;
  }
  .profile_right_sidebar {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: 5px;
  }
  .left_sidebar {
    order: 1;
    flex-basis: 49%;
    background-color: white;
    width: 100%;
    height: auto;
  }
  .center_sidebar {
    order: 3;
    flex-basis: 100%;
    height: auto;
    width: 100%;
  }
  .right_sidebar {
    order: 2;
    flex-basis: 49%;
    height: auto;
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .navbar_nav {
    padding: 10px 20px;
  }
  .container {
    flex-direction: column;
  }
  .left_sidebar {
    order: 1;
  }
  .center_sidebar {
    order: 2;
  }
  .right_sidebar {
    order: 3;
  }
  .trending_news {
    margin-top: 20px;
  }
  .footer_link {
    padding: 0px 40px;
  }
  .Center_nav .menu {
    padding: 10px !important;
  }
  .profile_dropdown {
    width: 60% !important;
  }
}

@media screen and (max-width: 1080px) {
  .Center_nav .menu {
    display: none;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
    background-color: #f3f3f3;
    width: 40%;
    border: 1px solid rgb(209, 209, 209);
    padding: 20px 80px;
  }
  .Center_nav ul li a {
    margin-bottom: 30px;
  }
  .sort_by span {
    width: 65%;
  }
  .humberger {
    display: block;
    width: 25px;
    cursor: pointer;
    margin-top: 20px;
  }

  #toggle:checked ~ ul {
    display: block;
  }
  .profile_button_group {
    flex-direction: column;
  }
  .profile_buttons:nth-child(1) {
    border-right: none;
    border-bottom: 5px solid #f3f3f3;
  }
  .profile_dropdown {
    width: 35%;
  }
}
